/* Main format for body of the page. */
body	{
	font-family: Arial, Helvetica, sans-serif;
	background-image: url('GeometryBackground.jpg');
	margin: 0;
	padding: 0;
}

/* flex container for containerization of articles */
.container {
	/* Containerization options for browser compatibility */
	display: -ms-flexbox;	/* TWEENER - IE 10 */
	display: -webkit-flex; 	/* NEW - Safari 6.1+, iOS 7.1+, BB10 */
	display: flex; 			/* NEW, Spec - Firefox, Chrome, Opera */
	/* Wrap options for each browser type */
	-ms-flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	/* Flex orientation for each browser type */
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	/* Additional stylings */
	justify-content: space-between;
	max-width: 95%;
	margin: 0 auto;
	padding: 20px;
}

/* New HTML types for labels */
.main {
	/* flex sizing for each browser type */
	-ms-flex: 0 3 auto;
	-webkit-flex: 0 3 auto;
	flex: 0 3 auto;
	/* Other options */
	display: block;
	order: 2;
}
.article {
	margin-bottom: 20px;
	padding: 10px 20px;
	border: 1px solid rgb(145, 145, 145);
	margin-right: 10px;
	margin-left: 10px;
	background-color: #fff
}
.article p {
	text-align: justify;
}
.post-meta {
	font-size: 12px;
	color: #222;
}
.noStyle {
	color: inherit;
	text-decoration:none;
}
	
.aside {
	/* flex sizing for each browser type */
	-ms-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	flex: 0 1 auto;	
	/* Other options */
	display: block;
	background-color: #EFEAD0;
	padding: 10px;
	border: 1px solid rgb(145, 145, 145);
	order: 1;
	margin-bottom: 100px;
}
.postList li{
	margin-bottom: 5px;
}
.footer {
	background-color: #242424;
	color: #fff;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}


/* div classes for splitscreen */
/* Split screen in half */
.split {
	height: 10%;
	width: 50%;
	position: absolute;
	z-index: 1;
	/* top: 0; */
	overflow-x: hidden;
	padding-top: 20px;
}
/* control the left side */
.leftSide {
	left: 10;
	background-color: #333;
}
/* control the right side */
.rightSide {
	right: 10;
	background-color: red;
}
/* for content centered horizontally and vertically */
.centerContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
/* For centered images */
.centerImage img {
	width: 150px;
	border-radius: 50%;
}


/* div classes for structure */
div.topHeader {
	padding-left:100px;
	padding-right:100px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:white;
	text-align: center;
	border: 1px solid black;
}

/* table properties and styles */
table {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: white;
}
th, td {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: white;
	padding: 10px;
}

/* classes for aligning elements on the page */
.center {
	margin-left: auto;
	margin-right: auto;
}
.right {
	margin-left: auto;
	margin-right: 15px;
}

/* Top Navigation Bar */
.topnav {
	overflow: hidden;
	margin: auto;
	width: 750px;
}
.topnav a {
	float: left;
	color: #f2f2f2;
	background-color: #784315;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
.topnav a.active {
	background-color: #630663;
	color: white;
}