/* Main format for body of the page. */
body	{
	font-family: Arial, Helvetica, sans-serif;
	background-image: url('GeometryBackground.jpg');
	margin: 0;
	padding: 0;
}

/* Footer style */
.bs-footer {
	background-color: #242424;
	color: #fff;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

/* Flex containers and elements */

.bs-container {
	/* TWEENER - IE 10 */
	display: -ms-flexbox;
	-ms-flex-wrap: nowrap;
	-ms-flex-direction: row;
	/* Safari 6.1+, iOS 7.1+, BB10 */
	display: -webkit-flex;
	-webkit-flex-wrap: nowrap;
	-webkit-flex-direction: row;
	/* NEW, Spec - Firefox, Chrome, Opera */
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	/* Additional stylings */
	justify-content: space-between;
	max-width: 95%;
	margin: 0 auto;
	padding: 20px;
}
.bs-main {
	/* TWEENER - IE 10 */
	-ms-flex-grow: 3;
	-ms-flex-shrink: 0;
	-ms-flex-basis: 300px;
	/* Safari 6.1+, iOS 7.1+, BB10 */
	-webkit-flex-grow: 3;
	-webkit-flex-shrink: 0;
	-webkit-flex-basis: 300px;
	/* NEW, Spec - Firefox, Chrome, Opera */
	flex-grow: 3;
	flex-shrink: 0;
	flex-basis: 300px;
	/* Other options */
	order: 2;
}
.bs-aside {
	/* TWEENER - IE 10 */
	-ms-flex-grow: 1;
	-ms-flex-shrink: 0;
	-ms-flex-basis: 100px;
	/* Safari 6.1+, iOS 7.1+, BB10 */
	-webkit-flex-grow: 1;
	-webkit-flex-shrink: 0;
	-webkit-flex-basis: 100px;
	/* NEW, Spec - Firefox, Chrome, Opera */
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 100px;
	/* Other options */
	background-color: #EFEAD0;
	padding: 10px;
	border: 1px solid rgb(145, 145, 145);
	order: 1;
	margin-bottom: 100px;
}


/* New HTML types for labels */

.article {
	margin-bottom: 20px;
	padding: 10px 20px;
	border: 1px solid rgb(145, 145, 145);
	margin-right: 10px;
	margin-left: 10px;
	background-color: #fff;
}
.article p {
	text-align: justify;
}
.post-meta {
	font-size: 12px;
	color: #222;
}
.noStyle {
	color: inherit;
	text-decoration:none;
}
.postList li{
	margin-bottom: 5px;
}


/* div classes for structure */
div.topHeader {
	padding-left:100px;
	padding-right:100px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:white;
	text-align: center;
	border: 1px solid black;
}

/* table properties and styles 
table {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: white;
}
th, td {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: white;
	padding: 10px;
}

*/

/* Top Navigation Bar */
.topnav {
	overflow: hidden;
	margin: auto;
	width: 750px;
}
.topnav a {
	float: left;
	color: #f2f2f2;
	background-color: #784315;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
.topnav a.active {
	background-color: #630663;
	color: white;
}